<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Strona główna</title>
      <link rel="stylesheet" href="spectre.min.css">
      <link rel="stylesheet" href="spectre-exp.min.css">
      <link rel="stylesheet" href="spectre-icons.min.css">
  </head>

  <body>
    <h1>Prosty program księgowy</h1>

    <div>
    <p>Stan konta</p>
    <p>Stan magazynu</p>
    </div>

    <div>
      <p>Zakup</p>
      <p>Sprzedaż</p>
      <p>Zmiana salda</p>
  </div>

  </body>

</html>